@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

input {
  @apply border-2
}

.flex {
  display: flex;
}

label {
  display: flex;
  gap: 5px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}